<nav>
    <a href="/">Home page</a>
    <a href="/chart?id={{context.id}}">Chart</a>
</nav>
<div style="display:flex;flex-direction:row;width:100%;justify-content:space-between">
    <h1 style="font-size:50px;padding:15px">SW Tests <span style="color:rgba(251,64,23,255)">in Project update</span></h1>
    <img width="10%" height="10%" src="gfx/SWTests logo white bcg red font.png" alt="a">
</div>
<div class="test">
    <div style="width:48%">
        {{> swe5}}
    </div>
    <div style="width:48%;margin-left:10px">
        {{> swe6}}
    </div>
</div>