<nav>
    <a href="/">Home page</a>
    <a href="/chart?id={{context.id}}">Chart</a>
</nav>
<div class="test">
    <div style="width:48%">
        {{> SWLE5}}
    </div>
    <div style="width:48%;margin-left:10px">
        {{> SWLE6}}
    </div>
</div>